@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=DM+Serif+Text:ital@0;1&family=Itim&family=Pacifico&display=swap');

.Food-section {
    padding: 20px 50px;
    font-family: "DM Serif Text", serif;
}

/* Section 1*/
.Food-section h1{
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: "Carter One", cursive;
    background: rgba(2, 25, 69, 0.85);
    padding: 10px;
    border-radius: 8px;
}
.Part-1, .Part-2 {
    display: flex;
    align-items: center;
    text-align: justify;
    gap: 70px;
    padding: 15px 60px;
}
.Part-1 p, .Part-2 p {
    font-size: 18px;
    padding: 10px;
}

.Part-2 iframe {
    width: 100%;
    max-width: 600px;
    height: 300px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


/* Phone View */
@media screen and (max-width: 768px) {

    /* .section: Adjust padding */
    .Food-section {
        padding: 15px 30px;
    }

    /* .Part-1, .Part-2, .Part-3: Layout on small screens */
    .Part-1, .Part-2 {
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 30px;
        padding: 10px 20px;
    }

    .Part-1 p, .Part-2 p {
        font-size: 16px;
        text-align: justify;
    }

    .left img {
        width: 100%;  /* Make images responsive */
        height: 200px;
        border-radius: 10px;
    }
}